<div class="stream">
  <%= @stream_room.link %>
  <script type="text/javascript">
    $.ajax({
      url: 'http://127.0.0.1:8080',
      type: 'post',
      dataType: 'json',
      data: '<%= @local_data %>'
    })
  </script>
</div>
