/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

.full_width_div {
	width   : 100%;
	left    : 0;
}

.footer_bar {
	height           : 225px;
	bottom           : 0;
	vertical-align   : center;
	position         : absolute;
	background-color : rgb(26,26,26);
}

#video_border {
	position         : absolute;
	background-color : rgb(26,26,26);
	height           : 895px;
	width            : 20px;
	left             : 0;
}

#video_location {
	height           : 895px;
	width            : (1080-450)px;
	padding-top      : 450px;
	padding-left     : 400px;
}

.side_bar {
	position         : absolute;
	height           : 895px;
	width            : 450px;
	font-size        : 20px;
	right            : 0;
	background-color : rgb(26,26,26);
}

.hfill{
	height : 895px;
}

.clock {
	position         : absolute;
	padding-left     : 330px;
	padding-top      : 140px;
	font-size        : 25px;
}

#logo {
	padding-left   : 80px;

}

#video_box{
	background-color : rgb(26,26,26);
	height           : 100%;
	width            : 100%;
}

#stream_info{
	padding-left   : 20px;
	padding-right  : 20px;
	padding-bottom : 10px;
	margin-top     : -25px;
}

#stream_info p {
	font-size     : 26px;
	text-overflow : ellipsis;
}

#stream_info h3 {
	font-size : 54px;
}

#room_name {
	color : rgb(255,155,26);
}

.full_page {
	color            : white;
	background-color : rgb(26,26,26);
}

.fill {
	height     : 100%;
	min-height : 100%;
}

h1 {
	color         : rgb(255, 155, 26);
	font-size     : 50px;
	padding-left  : 0px;
	text-overflow : ellipsis;
}

h3 {
	color           : rgb(26, 155, 255);
	width           : 100%;
	font-size       : 225%;
	text-decoration : none;
	text-overflow   : ellipsis;
}

#caro_item {
	padding-left : 10px;
}