/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

.full_width_div {
	width   : 100%;
	left    : 0;
}

.footer_bar {
	height           : 200px;
	bottom           : 0;
	vertical-align   : center;
	position         : absolute;
	background-color : rgb(26,26,26);
}

.side_bar {
	height     : 400px;
	font-size  : 20px;
}

.full_page {
	color            : white;
	background-color : rgb(26,26,26);
}

.fill {
	height     : 100%;
	min-height : 100%;
}

